.toast-with-img {
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
	> picture {
		flex: 1 0 30%;
		padding: 0.125em 0.2em;
		> img {
			height: auto;
			max-width: 100%;
		}
	}
	> span {
		text-align: start;
	}
}

:root {
	// React Toastify
	--toastify-color-info: #5b9bd5;
	--toastify-color-success: #4caf50;
	--toastify-color-warning: #f4c56a;
	--toastify-color-error: #e0554a;
}
